@import url('https://fonts.googleapis.com/css2?family=Montserrat,wght@0,100;0,400;0,700;1,300;1,500&family=Open+Sans:ital,wght@1,300;1,400&display=swap');

body{
    font-family: "Montserrat", sans-serif;
    font-family: "Open Sans", sans-serif;
}
.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    border-radius: 0;
    margin-bottom: 10px;
    font-size: 12px;
    letter-spacing: 5px;
    
}
.navbar-nav a:hover {
    background-color: #40bad5 !important;
    padding: 15px 27px;
    border-radius: 3px;
    color:#ffffff !important;

}
.menu-group {
    padding-left: 800px;
}
ul li {
    letter-spacing: 2px;
    text-align: left;
    padding: 2px;
}
li{
    padding: 2px;
}

/* object {
    height: 100vh;
    width: 100vh;
} */
.bg-1{
    background-color: #3798b6;
    color: #ffffff;
    padding-bottom: 20px;
    padding-top: 20px;
}
.bg-2 {
    background-color: #6c7b95;
    color: #ffffff;
}
.bg-3 {
    background-color: #2f2f2f;
    color: #ffffff;
    text-align: center;
}
.bg1-images {
    height: 400px;
    width: 400px;
    border-radius: 5%;
    box-shadow: 10px 6px 6px #555555;
    
}
.bmi, .bmi-table{
    background-color: #3798b6;
    border-radius: 5%;
    height: 400px;
    width: 300px;
    text-align: center;
    border: 5px solid white;
}
.contact a{
    font-size: 1.5em;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
}
.container-fluid .bg-3{
    text-align: center;
}
#footer {
    text-align: center;
}
table, .bmi{
    height: 400px;
    width: 300px;
    text-align: center;
    border: 5px solid white;
    background-color: #3798b6;
    border-radius: 5%;
    
}
th, td {
    border: 2px solid wheat;
}
tr, th{
    font-size: larger;
    text-align: center;
}
#bmiResult{
    font-size: x-large;
    animation: blink 3s infinite;
    color: red
}
@keyframes blink {
    from {
        opacity: 1;
    }
    to{
        opacity: 0;;
    }
}

/* Drum kit stylesheet */
.drum-kit-body {
    text-align: center;
    background-color: #283149;
  }
  
  .drum-kit-h1 {
    font-size: 5rem;
    color: #DBEDF3;
    font-family: "Arvo", cursive;
    text-shadow: 3px 0 #DA0463;
  
  }
  
  .drum-kit-footer {
    color: #DBEDF3;
    font-family: sans-serif;
  }
  
  .w {
      background-image: url("../img/images/tom1.png");
  }
  
  .a {
        background-image: url("../img/images/tom1.png");
  }
  
  .s {
        background-image: url("../img/images/tom3.png");
  }
  
  .d {
        background-image: url("../img/images/tom4.png");
  }
  
  .j {
        background-image: url("../img/images/snare.png");
  }
  
  .k {
        background-image: url("../img/images/crash.png");
  }
  
  .l {
        background-image: url("../img/images/kick.png");
  }
  
  .set {
    margin: 10% auto;
  }
  
  .game-over {
    background-color: red;
    opacity: 0.8;
  }
  
  .pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
  }
  
  .red {
    color: red;
  }
  
  .drum {
    outline: none;
    border: 10px solid #404B69;
    font-size: 5rem;
    font-family: 'Arvo', cursive;
    line-height: 2;
    font-weight: 900;
    color: #DA0463;
    text-shadow: 3px 0 #DBEDF3;
    border-radius: 15px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    background-color: white;
  }
  